<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action= "/budgets" method = "POST">
<input type="text" name="date" placeholder="april 1"><br>
<input type="text" name="name" placeholder="mangos"><br>
<input type="text" name="amount" placeholder="14"><br>
<input type="text" name="from" placeholder="meijers"><br>
<input type="text" name="tags"placeholder ="grocery store"><br>
<input type= "submit" value ="add budget">





    </form>

</body>
</html>